hr {
    margin: auto auto 0.5em;
    border: 1px inherit;
}

.stateCol {
    width: 7.33%;
    height: 160%;
    border: 2px dashed #87bbff;
    border-radius: 4px;
    background-color: white;
}

.stateColHeader {
    width: 100%;
    height: 48px;
    background-color: #ddffbc;
}

.stateBody {
    padding-top: 10%;
    padding-left: 15%;
    padding-right: 15%;
}

.smallHr {
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 5%;
    opacity: 0.4;
    border: 1px solid gray;
}

.type {
    margin-top: 2%;
    margin-left: 15%;
    display: inline-block;
    background-color: #ddffbc;
    color: #3c661e;
}

.verticalLine {
    height: 17px;
    width: 1px;
    opacity: 0.5;
    border: 1px solid gray;
    display: inline-block;
    margin-bottom: -2%;
}

.text {
    margin-top: -5%;
    margin-left: 30%;
}