<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link th:href="@{/css/style.css}" rel='stylesheet' type='text/css'/>
    <!--<link href="../static/css/style.css" rel="stylesheet" type="text/css"/>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script th:src="@{/issues.js}"></script>
    <!--<script src="../static/issues.js"></script>-->
    <title>Project's Info</title>
</head>
<body>
<div id="backlog">
    <!-- add backlog columns with all the issues for this project -->
</div>

<div th:each="issue : ${issues}" id="issues" th:object="${issue}">
    <!-- add columns for each of the states in this project -->
    <!--/*@thymesVar id="project" type="domain.models.entity.Project"*/-->
    <div class="stateCol">
        <!--/*@thymesVar id="issue" type="domain.models.entity.Issue"*/-->
        <div class="stateColHeader" th:text="${issue.getName()}">Name</div>
        <hr/>
        <div class="stateBody" th:text="${issue.getName()}">Name</div>
        <hr class="smallHr"/>
        <div>
            <p class="type dropbtn" onclick="dropdownToggle()"
               th:text="${issue.getType().getName()}">Type</p>

            <!--<div class="dropdown">-->
            <!--<button onclick="dropdownToggle()" class="dropbtn">Dropdown</button>-->
            <div id="myDropdown" class="dropdown-content">
                <a onclick="changeType(this, )" th:each="type : ${types}"
                   th:value="${type.getId()}"
                   th:text="${type.getName()}">
                </a>
            </div>
            <!--</div>-->

            <hr class="verticalLine"/>
            <p class="text">Due date</p>
        </div>
    </div>
</div>
</body>
</html>