<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link href="../static/css/style.css" rel='stylesheet' type='text/css'/>
    <title>Project's Info</title>
</head>
<body>
<div id="backlog">
    <!-- add backlog columns with all the issues for this project -->
</div>

<div th:each="issue : ${issues}" id="issues">
    <!-- add columns for each of the states in this project -->
    <!--/*@thymesVar id="project" type="domain.models.entity.Project"*/-->
    <div class="stateCol">
        <div class="stateColHeader"> Issue's name</div>
        <hr/>
        <div class="stateBody">Issue name</div>
        <hr class="smallHr">
        <div>
            <p class="text">Type</p>
            <hr class="verticalLine">
        </div>
    </div>
</div>
</body>
</html>